{% extends "base/base.html" %}
{% block content %}

<h2>Kitchen Ingredients</h2>

<div style="margin-bottom:15px;">
  <a href="{% url 'kitchen_ingredient_request_create' %}">
    ➕ Request Ingredients
  </a>
</div>

<table border="1" cellpadding="8" width="100%">
  <tr>
    <th>Ingredient</th>
    <th>Quantity</th>
    <th>Status</th>
  </tr>

  {% for s in stocks %}
  <tr>
    <td>{{ s.product.name }}</td>
    <td>{{ s.quantity }}</td>
    <td>
      {% if s.is_low %}
        <span style="color:red;font-weight:bold;">LOW</span>
      {% else %}
        OK
      {% endif %}
    </td>
  </tr>
  {% empty %}
  <tr>
    <td colspan="3" style="text-align:center;">
      No ingredients found.
    </td>
  </tr>
  {% endfor %}
</table>


{% endblock %}



