{% extends "base/base.html" %}

{% block content %}
<h2>Balance Sheet</h2>

<form method="get" class="mb-3">

    <label>As at:</label>
    <input type="date" name="date" value="{{ date }}">

    <button class="btn btn-primary">Filter</button>

    <a href="{% url 'accounting:balance_sheet' %}" class="btn btn-secondary">
        Reset
    </a>

</form>
<br><br>
<form method="post" action="{% url 'accounting:close_day' %}">
    {% csrf_token %}
    <button class="btn btn-danger">
        Close Day
    </button>
</form>

<div class="row">

    <div class="col">
        <h4>Assets</h4>
        <table class="table">
            {% for a in assets %}
            <tr>
                <td>{{ a.name }}</td>
                <td>{{ a.balance }}</td>
            </tr>
            {% endfor %}
            <tr>
                <th>Total Assets</th>
                <th>{{ asset_total }}</th>
            </tr>
        </table>
    </div>

    <div class="col">
        <h4>Liabilities</h4>
        <table class="table">
            {% for l in liabilities %}
            <tr>
                <td>{{ l.name }}</td>
                <td>{{ l.balance }}</td>
            </tr>
            {% endfor %}
            <tr>
                <th>Total Liabilities</th>
                <th>{{ liability_total }}</th>
            </tr>
        </table>

        <h4>Equity</h4>
        <table class="table">
            {% for e in equity %}
            <tr>
                <td>{{ e.name }}</td>
                <td>{{ e.balance }}</td>
            </tr>
            {% endfor %}
            <tr>
                <th>Total Equity</th>
                <th>{{ equity_total }}</th>
            </tr>
        </table>
    </div>

</div>

<h3>
    Assets = {{ asset_total }} |
    Liabilities + Equity = {{ liability_total|add:equity_total }}
</h3>

{% endblock %}