{% extends "base/base.html" %}

{% block title %}Today's Activity{% endblock %}

{% block content %}

<h2>Today's Operations</h2>

<h3>Arrivals Today</h3>

<table>
<tr>
<th>Guest</th>
<th>Room Type</th>
<th>Status</th>
</tr>

{% for r in arrivals %}

<tr>
<td>{{ r.guest }}</td>
<td>{{ r.room_category }}</td>
<td>{{ r.status }}</td>
</tr>

{% empty %}
<tr>
<td colspan="3">No arrivals today</td>
</tr>
{% endfor %}

</table>


<h3>Departures Today</h3>

<table>
<tr>
<th>Guest</th>
<th>Room</th>
<th>Balance</th>
</tr>

{% for f in departures %}

<tr>
<td>{{ f.guest }}</td>
<td>{{ f.room.room_number }}</td>
<td>{{ f.balance }}</td>
</tr>

{% empty %}
<tr>
<td colspan="3">No departures today</td>
</tr>
{% endfor %}

</table>

{% endblock %}